html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background-color: #061321;
}

header a,
.header-carousel a {
  color: inherit;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container > main {
  flex-grow: 1;
}

.wrapper {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

.default-main-wrapper {
  background-color: #fff;
  padding: 8rem 0;
}

/* !-- */

.text_primary {
  width: 75%;
  margin: 0 auto;
  color: #212121;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 150%;
}
.text_primary_white {
  width: 75%;
  margin: 0 auto;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 150%;
}

.text_subtitle {
  color: #00a3ff;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.text_title_m {
  color: #212121;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.text_title_m_white {
  color: #fff;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.clear_a {
  color: inherit;
  text-decoration: none;
}

/* ! MEDIA QUERIES */

@media (max-width: 1500px) {
  html {
    font-size: 58.5%;
  }
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
  html {
    font-size: 52.5%;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media (max-width: 700px) {
  .wrapper {
    width: 97.5%;
  }
  .text_primary {
    width: 90%;
  }
  .text_primary_white {
    width: 90%;
  }
}

@media (max-width: 475px) {
  .text_title_m {
    font-size: 3.5rem;
  }

  .text_title_m_white {
    font-size: 3.5rem;
  }
}
