.articles-carousel {
  margin-top: -130px !important;
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 4rem !important;
}

.articles-carousel-card {
  height: 26rem;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.articles-carousel-card img {
  width: 100%;
  height: inherit;
  object-fit: cover;
  object-position: center;
  outline: none;
}

.article-card-overlap {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: inherit;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.25s;
}

.articles-carousel-card:hover .article-card-overlap {
  background: rgba(0, 0, 0, 0.35);
}

.articles-carousel-card:hover {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
}

.articles-carousel-left-btn {
  left: -60px;
  z-index: 1;
  position: absolute;
  cursor: pointer;
}
.articles-carousel-right-btn {
  cursor: pointer;
  right: -60px;
  z-index: 1;
  position: absolute;
}

.article-carousel-text {
  padding-bottom: 8rem;
}

.articles-carousel-card span {
  padding: 1.2rem 3rem;
  background: #fff;
  color: #292929;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 0px 80px 0px 0px;

  position: absolute;
  bottom: 0;
  left: 0;

  display: none;
  transition: 0.25s;
}

.articles-carousel-card > svg {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #fff;
}

.articles-carousel-card:hover > svg {
  display: inline;
}

.articles-carousel-card:hover span {
  display: flex;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 1024px) {
  .articles-carousel {
    margin-bottom: 10rem !important;
    justify-content: center !important;
  }
  .articles-carousel-left-btn {
    left: 45%;
    bottom: -55px;
  }
  .articles-carousel-right-btn {
    right: 45%;
    bottom: -55px;
  }
}

@media (max-width: 768px) {
  .articles-carousel-left-btn {
    left: 40%;
  }
  .articles-carousel-right-btn {
    right: 40%;
  }
}

@media (max-width: 700px) {
  .articles-carousel {
    margin-top: 0 !important;
    padding-top: 4rem;
  }
}

@media (max-width: 425px) {
  .articles-carousel {
    width: 85% !important;
  }

  .articles-carousel-left-btn {
    left: 35%;
    bottom: -55px;
  }
  .articles-carousel-right-btn {
    right: 35%;
    bottom: -55px;
  }
}
